		.cwimg {
			background-image: 
				url("https://64.media.tumblr.com/b6ce6faec9e7c19e033cd3a128cc7406/21fcc5bb365fc379-ea/s540x810/6c09bbc376e161fb1130f956c4fd34492ca83a11.gifv");
			padding-top: 10vw;
			padding-bottom: 10vw;
      padding-left:20px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}